USE [master]
GO
/****** Object:  Database [PuebaNetCore]    Script Date: 05/06/2025 09:15:47 p. m. ******/
CREATE DATABASE [PuebaNetCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PuebaNetCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PuebaNetCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PuebaNetCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PuebaNetCore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PuebaNetCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PuebaNetCore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NombreActividad] [varchar](100) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[idEncargado] [nvarchar](450) NOT NULL,
	[Instalacion] [varchar](100) NULL,
	[Creditos] [int] NOT NULL,
	[FechaHoraInicio] [date] NOT NULL,
	[FechaHoraFin] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[ImagenURL] [varchar](255) NULL,
	[DatosExtra] [varchar](250) NULL,
	[Descripcion] [varchar](500) NULL,
 CONSTRAINT [PK__Activida__3213E83F2C3F350A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActividadxPeriodos]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadxPeriodos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActividadId] [int] NOT NULL,
	[PeriodoId] [int] NOT NULL,
 CONSTRAINT [PK_ActividadxPeriodos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[MatriculaRfc] [nvarchar](14) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [varchar](50) NOT NULL,
	[LimiteCreditos] [int] NULL,
	[PermiteOtroPerido] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionGlobal]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionGlobal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConfiguracionGlobal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteXActividades]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteXActividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEstudiante] [nvarchar](450) NOT NULL,
	[FechaInscripcion] [date] NOT NULL,
	[Aprobado] [bit] NULL,
	[IdGrupoHorario] [int] NOT NULL,
	[ActividadId] [int] NULL,
	[IdHorarioDetalle] [int] NOT NULL,
 CONSTRAINT [PK__Estudian__3213E83FAFE78E09] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GruposHorario]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GruposHorario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActividadId] [int] NOT NULL,
	[CupoMaximo] [int] NOT NULL,
	[TipoDeHorario] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GruposHorario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioDetalles]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GrupoHorarioId] [int] NOT NULL,
	[Fecha] [date] NULL,
	[DiaSemana] [nvarchar](20) NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
 CONSTRAINT [PK_HorarioDetalles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodos]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EtiquetaPeriodo] [nvarchar](70) NOT NULL,
	[FechaHoraInicio] [date] NOT NULL,
	[FechaHoraFin] [date] NOT NULL,
 CONSTRAINT [PK_Periodos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Actividad_idCategoria]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Actividad_idCategoria] ON [dbo].[Actividad]
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Actividad_idEncargado]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Actividad_idEncargado] ON [dbo].[Actividad]
(
	[idEncargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActividadxPeriodos_ActividadId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ActividadxPeriodos_ActividadId] ON [dbo].[ActividadxPeriodos]
(
	[ActividadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActividadxPeriodos_PeriodoId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ActividadxPeriodos_PeriodoId] ON [dbo].[ActividadxPeriodos]
(
	[PeriodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteXActividades_ActividadId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteXActividades_ActividadId] ON [dbo].[EstudianteXActividades]
(
	[ActividadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EstudianteXActividades_idEstudiante]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteXActividades_idEstudiante] ON [dbo].[EstudianteXActividades]
(
	[idEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteXActividades_IdGrupoHorario]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteXActividades_IdGrupoHorario] ON [dbo].[EstudianteXActividades]
(
	[IdGrupoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudianteXActividades_IdHorarioDetalle]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudianteXActividades_IdHorarioDetalle] ON [dbo].[EstudianteXActividades]
(
	[IdHorarioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GruposHorario_ActividadId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_GruposHorario_ActividadId] ON [dbo].[GruposHorario]
(
	[ActividadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HorarioDetalles_GrupoHorarioId]    Script Date: 05/06/2025 09:15:48 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_HorarioDetalles_GrupoHorarioId] ON [dbo].[HorarioDetalles]
(
	[GrupoHorarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actividad] ADD  DEFAULT ((0)) FOR [Creditos]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [MatriculaRfc]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Nombre]
GO
ALTER TABLE [dbo].[EstudianteXActividades] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Aprobado]
GO
ALTER TABLE [dbo].[EstudianteXActividades] ADD  DEFAULT ((0)) FOR [IdHorarioDetalle]
GO
ALTER TABLE [dbo].[GruposHorario] ADD  DEFAULT (N'') FOR [TipoDeHorario]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK__Actividad__idCat__2F10007B] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK__Actividad__idCat__2F10007B]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK__Actividad__idEnc__300424B4] FOREIGN KEY([idEncargado])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK__Actividad__idEnc__300424B4]
GO
ALTER TABLE [dbo].[ActividadxPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_ActividadxPeriodos_Actividad_ActividadId] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividad] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActividadxPeriodos] CHECK CONSTRAINT [FK_ActividadxPeriodos_Actividad_ActividadId]
GO
ALTER TABLE [dbo].[ActividadxPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_ActividadxPeriodos_Periodos_PeriodoId] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActividadxPeriodos] CHECK CONSTRAINT [FK_ActividadxPeriodos_Periodos_PeriodoId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EstudianteXActividades]  WITH CHECK ADD  CONSTRAINT [FK__Estudiant__idEst__33D4B598] FOREIGN KEY([idEstudiante])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EstudianteXActividades] CHECK CONSTRAINT [FK__Estudiant__idEst__33D4B598]
GO
ALTER TABLE [dbo].[EstudianteXActividades]  WITH CHECK ADD  CONSTRAINT [FK__Estudiant__idGru__GrupoHorario] FOREIGN KEY([IdGrupoHorario])
REFERENCES [dbo].[GruposHorario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstudianteXActividades] CHECK CONSTRAINT [FK__Estudiant__idGru__GrupoHorario]
GO
ALTER TABLE [dbo].[EstudianteXActividades]  WITH CHECK ADD  CONSTRAINT [FK__Estudiant__idHor__HorarioDetalle] FOREIGN KEY([IdHorarioDetalle])
REFERENCES [dbo].[HorarioDetalles] ([Id])
GO
ALTER TABLE [dbo].[EstudianteXActividades] CHECK CONSTRAINT [FK__Estudiant__idHor__HorarioDetalle]
GO
ALTER TABLE [dbo].[EstudianteXActividades]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteXActividades_Actividad_ActividadId] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividad] ([id])
GO
ALTER TABLE [dbo].[EstudianteXActividades] CHECK CONSTRAINT [FK_EstudianteXActividades_Actividad_ActividadId]
GO
ALTER TABLE [dbo].[GruposHorario]  WITH CHECK ADD  CONSTRAINT [FK_GruposHorario_Actividad_ActividadId] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividad] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GruposHorario] CHECK CONSTRAINT [FK_GruposHorario_Actividad_ActividadId]
GO
ALTER TABLE [dbo].[HorarioDetalles]  WITH CHECK ADD  CONSTRAINT [FK_HorarioDetalles_GruposHorario_GrupoHorarioId] FOREIGN KEY([GrupoHorarioId])
REFERENCES [dbo].[GruposHorario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorarioDetalles] CHECK CONSTRAINT [FK_HorarioDetalles_GruposHorario_GrupoHorarioId]
GO
ALTER TABLE [dbo].[HorarioDetalles]  WITH CHECK ADD  CONSTRAINT [CK_HorarioDetalle_DiaSemanaOrFecha] CHECK  (([Fecha] IS NOT NULL OR [DiaSemana] IS NOT NULL))
GO
ALTER TABLE [dbo].[HorarioDetalles] CHECK CONSTRAINT [CK_HorarioDetalle_DiaSemanaOrFecha]
GO
ALTER TABLE [dbo].[HorarioDetalles]  WITH CHECK ADD  CONSTRAINT [CK_HorarioDetalle_HoraInicio_Fin] CHECK  (([HoraInicio]<[HoraFin]))
GO
ALTER TABLE [dbo].[HorarioDetalles] CHECK CONSTRAINT [CK_HorarioDetalle_HoraInicio_Fin]
GO
/****** Object:  StoredProcedure [dbo].[inscribir]    Script Date: 05/06/2025 09:15:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[inscribir]
    @idEstudiante NVARCHAR(450), -- Cambiado a NVARCHAR
    @idActividad INT,
    @idGrupoHorario INT,
    @idHorarioDetalle INT,
    @statusCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @limiteGlobalCreditos INT;
	DECLARE @creditosTotalesEstudiante INT;
    DECLARE @estadoActividad VARCHAR(20);
    DECLARE @categoriaId INT;
    DECLARE @creditosActividad INT;
    DECLARE @limite INT;
    DECLARE @limiteCategoria INT;
    DECLARE @limiteGlobal INT;
    DECLARE @creditosAcumulados INT;

    -- Código 1: Actividad no existe
    SELECT
        @estadoActividad = Estado,
        @categoriaId = idCategoria,
        @creditosActividad = Creditos
    FROM Actividad
    WHERE id = @idActividad;

    IF @estadoActividad IS NULL
    BEGIN
        SET @statusCode = 1;
        RETURN;
    END

    -- Código 2: Actividad no disponible
    IF @estadoActividad <> 'disponible'
    BEGIN
        SET @statusCode = 2;
        RETURN;
    END

    -- Código 3: Ya inscrito (verifica idGrupoHorario y IdHorarioDetalle)
    IF EXISTS (
        SELECT 1 FROM EstudianteXActividades
        WHERE idEstudiante = @idEstudiante -- Ahora compara NVARCHAR con NVARCHAR
          AND ActividadId = @idActividad
          AND IdGrupoHorario = @idGrupoHorario
          AND IdHorarioDetalle = @idHorarioDetalle
    )
    BEGIN
        SET @statusCode = 3;
        RETURN;
    END

    -- Obtener límite personalizado (si existe)
    SELECT @limiteCategoria = LimiteCreditos
    FROM Categoria
    WHERE id = @categoriaId;

    -- Obtener el límite global si el personalizado es NULL
    IF @limiteCategoria IS NULL
    BEGIN
        SELECT @limiteGlobal = CAST(Valor AS INT)
        FROM ConfiguracionGlobal
        WHERE Clave = 'limite_creditos_por_categoria';

        -- Código 5: No hay configuración
        IF @limiteGlobal IS NULL
        BEGIN
            SET @statusCode = 5;
            RETURN;
        END

        SET @limite = @limiteGlobal;
    END
    ELSE
    BEGIN
        SET @limite = @limiteCategoria;
    END

    -- Créditos acumulados en esa categoría
    SELECT @creditosAcumulados = ISNULL(SUM(a.Creditos), 0)
    FROM EstudianteXActividades exa
    INNER JOIN Actividad a ON exa.ActividadId = a.id
    WHERE
        exa.idEstudiante = @idEstudiante -- Ahora compara NVARCHAR con NVARCHAR
        AND a.idCategoria = @categoriaId
        AND exa.Aprobado = 1;

    -- Código 4: Límite de créditos superado
    IF (@creditosAcumulados + @creditosActividad) > @limite
    BEGIN
        SET @statusCode = 4;
        RETURN;
    END

	-- Obtener el límite global de créditos por estudiante
		SELECT @limiteGlobalCreditos = CAST(Valor AS INT)
		FROM ConfiguracionGlobal
		WHERE Clave = 'limite_creditos_totales';

		-- Solo validar si el límite está definido
		IF @limiteGlobalCreditos IS NOT NULL
		BEGIN
			SELECT @creditosTotalesEstudiante = ISNULL(SUM(a.Creditos), 0)
			FROM EstudianteXActividades exa
			INNER JOIN Actividad a ON exa.ActividadId = a.id
			WHERE exa.idEstudiante = @idEstudiante
			  AND exa.Aprobado = 1;

			IF (@creditosTotalesEstudiante + @creditosActividad) > @limiteGlobalCreditos
			BEGIN
				SET @statusCode = 6; -- Nuevo código de error: límite general de créditos superado
				RETURN;
			END
		END

    -- Inscribir
    INSERT INTO EstudianteXActividades (idEstudiante, ActividadId, IdGrupoHorario, IdHorarioDetalle, FechaInscripcion, Aprobado)
    VALUES (@idEstudiante, @idActividad, @idGrupoHorario, @idHorarioDetalle, GETDATE(), 0);

    -- Código 0: Éxito
    SET @statusCode = 0;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Debe tener al menos un valor entre Fecha o DiaSemana.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HorarioDetalles'
GO
USE [master]
GO
